@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .scrollbar-for-banner {
        scrollbar-color: #595754 #595754;
        scrollbar-width: thin;
    }

    .scrollbar-for-banner::-webkit-scrollbar {
        width: 8px;
        height: 8px;
    }

    .scrollbar-for-banner::-webkit-scrollbar-track {
        background: transparent;
    }

    .scrollbar-for-banner::-webkit-scrollbar-thumb {
        background: #595754;
    }

    .genshin-scrollbar {
        scrollbar-color: #e7e5e3 #c8c5bd;
        scrollbar-width: thin;
    }

    .genshin-scrollbar::-webkit-scrollbar {
        width: 6px;
        height: 6px;
    }

    .genshin-scrollbar::-webkit-scrollbar-track {
        background: #c8c5bd;
    }

    .genshin-scrollbar::-webkit-scrollbar-thumb {
        background: #e7e5e3;
    }

    .payment-track,
    .payment-track::-webkit-slider-runnable-track,
    .payment-track::-webkit-slider-thumb {
        appearance: none;
        -webkit-appearance: none;
        background: transparent;
    }

    .payment-track::-webkit-slider-runnable-track {
        height: 100%;
        background: #586b8c;
        border-radius: 20px;
    }

    .payment-track::-webkit-slider-thumb {
        height: 2vmax;
        width: 2vmax;
        background: url("/wish-simulator/assets/input-track.webp");
        background-size: 100% 100%;
        border: none;
        margin-top: -0.8vmax;
    }

    .payment-track::-moz-range-progress {
        background-color: #5b6983;
        border-radius: 20px;
        border: 2px solid #5b6983;
        height: 100%;
    }

    .payment-track::-moz-range-thumb {
        height: 2vmax;
        width: 2vmax;
        background: transparent url("/wish-simulator/assets/input-track.webp");
        background-size: 100% 100%;
        border: none;
    }

    .payment-track::-moz-range-track {
        height: 100%;
        background-color: #f0eee9;
        border-radius: 20px;
        border: 2px solid #d1cbbf;
    }
}

:root{
    font-size: max(5px, 1.1vmax);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    width: 100%;
    height: 100%;
}