@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    :root {
        --background: 0 0% 100%;
        --foreground: 240 10% 3.9%;
        --card: 0 0% 100%;
        --card-foreground: 240 10% 3.9%;
        --popover: 0 0% 100%;
        --popover-foreground: 240 10% 3.9%;
        --primary: 142.1 76.2% 36.3%;
        --primary-foreground: 355.7 100% 97.3%;
        --secondary: 240 4.8% 95.9%;
        --secondary-foreground: 240 5.9% 10%;
        --muted: 240 4.8% 95.9%;
        --muted-foreground: 240 3.8% 46.1%;
        --accent: 240 4.8% 95.9%;
        --accent-foreground: 240 5.9% 10%;
        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 0 0% 98%;
        --border: 240 5.9% 90%;
        --input: 240 5.9% 90%;
        --ring: 142.1 76.2% 36.3%;
        --radius: 0.5rem;
    }

    .dark {
        --background: 20 14.3% 4.1%;
        --foreground: 0 0% 95%;
        --card: 24 9.8% 10%;
        --card-foreground: 0 0% 95%;
        --popover: 0 0% 9%;
        --popover-foreground: 0 0% 95%;
        --primary: 142.1 70.6% 45.3%;
        --primary-foreground: 144.9 80.4% 10%;
        --secondary: 240 3.7% 15.9%;
        --secondary-foreground: 0 0% 98%;
        --muted: 0 0% 15%;
        --muted-foreground: 240 5% 64.9%;
        --accent: 12 6.5% 15.1%;
        --accent-foreground: 0 0% 98%;
        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 0 85.7% 97.3%;
        --border: 240 3.7% 15.9%;
        --input: 240 3.7% 15.9%;
        --ring: 142.4 71.8% 29.2%;
    }
}

@layer base {
    * {
        @apply border-border;
    }

    body {
        @apply bg-background text-foreground;
    }
}

@layer utilities {
    .scrollbar-for-banner {
        scrollbar-color: #595754 #595754;
        scrollbar-width: thin;
    }

    .scrollbar-for-banner::-webkit-scrollbar {
        width: 8px;
        height: 8px;
    }

    .scrollbar-for-banner::-webkit-scrollbar-track {
        background: transparent;
    }

    .scrollbar-for-banner::-webkit-scrollbar-thumb {
        background: #595754;
    }

    .genshin-scrollbar {
        scrollbar-color: #e7e5e3 #c8c5bd;
        scrollbar-width: thin;
    }

    .genshin-scrollbar::-webkit-scrollbar {
        width: 6px;
        height: 6px;
    }

    .genshin-scrollbar::-webkit-scrollbar-track {
        background: #c8c5bd;
    }

    .genshin-scrollbar::-webkit-scrollbar-thumb {
        background: #e7e5e3;
    }

    .payment-track,
    .payment-track::-webkit-slider-runnable-track,
    .payment-track::-webkit-slider-thumb {
        appearance: none;
        -webkit-appearance: none;
        background: transparent;
    }

    .payment-track::-webkit-slider-runnable-track {
        height: 100%;
        background: #586b8c;
        border-radius: 20px;
    }

    .payment-track::-webkit-slider-thumb {
        height: 2vmax;
        width: 2vmax;
        background: url("/wish-simulator/assets/input-track.webp");
        background-size: 100% 100%;
        border: none;
        margin-top: -0.8vmax;
    }

    .payment-track::-moz-range-progress {
        background-color: #5b6983;
        border-radius: 20px;
        border: 2px solid #5b6983;
        height: 100%;
    }

    .payment-track::-moz-range-thumb {
        height: 2vmax;
        width: 2vmax;
        background: transparent url("/wish-simulator/assets/input-track.webp");
        background-size: 100% 100%;
        border: none;
    }

    .payment-track::-moz-range-track {
        height: 100%;
        background-color: #f0eee9;
        border-radius: 20px;
        border: 2px solid #d1cbbf;
    }
}